* {
  padding: 0;
  margin: 0;
}

a {
  color: rgb(100, 255, 218);
  padding: 10px;
  font-size: 15px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 168, 129);
}

h1 {
  font-size: 50px;
  color: #fff;
}

h2 {
  font-size: 25px;
  color: rgb(100, 255, 218);
}

h3{
  margin-top: 50px;
  color:  rgb(100, 255, 218);
  text-transform: uppercase;
  font-size: 25px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #111a28;
}

button{
  border-style: none;
  background: transparent;
  width: 50px;
}

p{
  padding-top: 30px;
  font-size: 20px;
  color: #fff;
}

span {
  color: rgb(100, 255, 218);
}

svg {
  color: rgb(100, 255, 218);
  width: 23px;
}

.content {
  width: 900px;
}

.menu {
  width: 900px;
  position: absolute;
  display: flex;
  padding: 20px;
  background-color: #111a28;
  border-bottom: 1px solid rgb(100, 255, 218);
  justify-content: space-between;
}

.icon {
  width: 300px;
}

.iconHamburguer {
  display: none;
}

.apresentation {
  display: flex;
  align-items: center;
  height: 600px;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid rgb(100, 255, 218);
}

.social{
  display: flex;
  padding-top: 10px;
  flex-direction: row;
}

.iconSocial{
  margin-top: 20px;
  display: flex;
  width: 30px;
  margin: 5px;
}

@media only screen and (max-width: 768px) {

  body{
    width: 100%;
  }

  h1{
    font-size: 30px;
  }

  h2{
    font-size: 25px;
  }

  .content,
  .menu,
  .icon {
    width: 90%; 
  }

  .menu {
    position: relative;
    flex-direction: row; 
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 168, 129);
  }

  .list{
    display: none;
  }

  .text{
    margin-top: 90%;
  }


  .icon{
    position: absolute;
    padding-top: 80px;
    width: 200px;
  }

  .iconSocial{
    margin-top: 5px;
    width: 25px;
  }

  .apresentation {
    flex-direction: column;
    height: auto; 
    border-bottom: none;
  }

  .iconHamburguer {  
    display: block;
    width: 30px;
    height: 30px;
  }
}
