@font-face {
  font-family: "Open Sans";
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: rgb(100, 255, 218);
  padding: 10px;
  font-size: 15px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 168, 129);
}


p{
  text-align: justify;
  padding-right: 20px;
}

h1 {
  font-size: 50px;
  color: #fff;
}

h2 {
  font-size: 25px;
  color: rgb(100, 255, 218);
}

h3{
  margin-top: 50px;
  color:  rgb(100, 255, 218);
  text-transform: uppercase;
  font-size: 25px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #111a28;
}

button{
  border-style: none;
  background: transparent;
  width: 50px;
}

p{
  padding-top: 30px;
  font-size: 20px;
  color: #fff;
}


span {
  color: rgb(100, 255, 218);
  border-right: 4px solid #fff;
  width: 10ch;
  white-space: nowrap;
  overflow: hidden;
  animation: digitando 2s steps(10), piscando 0.5s infinite step-end alternate;
}


@keyframes digitando{
  from{
    width: 0%;
  }
}

@keyframes piscando{
  50%{
    border-color: transparent;
  }
}

svg {
  color: rgb(100, 255, 218);
  width: 23px;
}

.content {
  width: 900px;
  animation: fade-down 3s;
}

.menu {
  width: 900px;
  position: absolute;
  display: flex;
  padding: 20px;
  background-color: #111a28;
  border-bottom: 1px solid rgb(100, 255, 218);
  justify-content: space-between;
}

.icon {
  width: 350px;
}

.iconHamburguer {
  display: none;
}

.apresentation {
  display: flex;
  align-items: center;
  width: 938px;
  height: 500px;
  padding-top: 50px;
  border-bottom: 1px solid rgb(100, 255, 218);
}


@keyframes fade-down{
  0%{
    opacity: 0;
    transform: translate3D(-50%) scale(0.9);
  }
  100%{
    opacity: 1;
    transform: translate3D(0px) scale(1);
  }
}

.text{
  font-family: "Open Sans";
  width: 550px;
  align-items: center;
  padding-right: 20px;
}

.social{
  display: flex;
  padding-top: 10px;
  flex-direction: row;
}

.iconSocial{
  margin-top: 20px;
  display: flex;
  width: 30px;
  margin: 5px;
}

@media only screen and (max-width: 768px) {


  body{
    width: 100%;
  }

  p{
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding-right: 0;
    align-items: center;
  }

  h1{
    font-size: 30px;
  }

  h2{
    font-size: 25px;
  }

  .content,
  .menu,
  .icon {
    width: 90%; 
  }

  .menu {
    position: relative;
    flex-direction: row; 
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 168, 129);
  }

  .list{
    display: none;
  }

  .icon{
    display: none;
    position: absolute;
    width: 200px;
  }

  .iconSocial{
    margin-top: 5px;
    width: 25px;
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .apresentation {
    flex-direction: row;
    height: auto; 
    border-bottom: none;
  }

  .iconHamburguer {  
    display: block;
    width: 30px;
    height: 30px;
  }
}
